<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'imgs/favicon.ico' %}">
        <link rel="stylesheet" href="{% static 'plugins/layui/css/layui.css' %}">
        <title>Document</title>
    </head>
    <body>
        <div class="layui-card">
            <div class="layui-card-header">
                {% if interface == "bom_all" %}
                    <button class="layui-btn" id="bom_sum">bom汇总</button>
                {% endif %}
                {% if interface == "purchase" or interface == "sale_out" or interface == "warehouse"%}
                <div class="search layui-inline">
                    <div class="layui-input-inline" style="width: 200px;">
                        <input id="yy_search" type="text" name="title" placeholder="产品编码|项目号|存货编码" class="layui-input">
                    </div>
                    <a class="layui-btn" id="yy_search_btn">筛选</a>
                </div>
                {% endif %}
                <!-- {% if interface == "purchase" %}
                    <button class="layui-btn" id="Q9_0">Q9原始</button>
                    <button class="layui-btn" id="Q9">Q9</button>
                    <button class="layui-btn" id="Q4">Q4</button>
                    {% endif %}
                {% if interface == "sale_out" %}    
                    <button class="layui-btn" id="Q5">Q5</button>
                {% endif %}
                {% if interface == "warehouse" %}    
                    <button class="layui-btn" id="Q7">Q7</button>
                {% endif %} -->
            </div>
            <div class="layui-card-body">
                <table class="layui-hide" id="demo" lay-filter="test"></table>
            </div>
        </div>
        <script type="text/html" id="barDemo">
            <a class="layui-btn layui-btn-normal layui-btn-xs" id="product_edit" lay-event="edit">编辑</a>
            <a class="layui-btn layui-btn-danger layui-btn-xs" id="product_delete" lay-event="delete">删除</a>
        </script>
        <script src="{% static 'plugins/layui/layui.js' %}"></script>
        <script src="{% static 'js/interface.js' %}" type="module"></script>

    </body>
    
</html>