<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'imgs/favicon.ico' %}">
        <link rel="stylesheet" href="{% static 'plugins/layui/css/layui.css' %}">
        <style>
        </style>
        <title>Document</title>
    </head>
    <body>
        <div class="layui-card">
            <div class="layui-card-header"></div>
            <div class="layui-card-body">
                <form action="{{url}}" class="layui-form search-form">
                    {% csrf_token %}
                    <div class="layui-inline search-item">
                        
                        <div class="layui-input-inline" style="width: 100px;">
                            <select name="city" lay-verify="">
                                <option value="1">and</option>
                                <option value="2">or</option>
                                <option value="3">not</option>
                              </select>  
                        </div>
                        
                        <div class="layui-input-inline" style="width: 100px;">
                            <select name="city" lay-verify="">
                                {% for k, v in field.items %}
                                <option value="{{k}}">{{v}}</option>
                                {% endfor %}
                              </select>  
                        </div>
                    
                        <div class="layui-input-inline" style="width: 300px;">
                            <input type="text" name="price_max" placeholder="" autocomplete="off" class="layui-input">
                        </div>
                        
                        <div class="layui-input-inline con-add" style="width:20px;">
                            <a class="layui-icon layui-icon-addition"></a>
                        </div>
                        <div class="layui-input-inline con-sub" style="width:20px;">
                            <a class="layui-icon layui-icon-subtraction"></a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        
        <script src="{% static 'plugins/layui/layui.js' %}"></script>
        <script>
            var $ = layui.$;
            var search_item = $(".search-item");
            var search_form = $(".search-form");
            $(".con-add").click(function(){
                alert("oj");
                search_form.after(search_item);
            })
        </script>
    </body>
</html>