<!DOCTYPE html>

{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'plugins/layui/css/layui.css' %}">
        <title>Document</title>
    </head>
    <body>
        <!-- 添加项目 -->
        <div id="projection_add" class="{{pro_no}}">
            <form class="layui-form" action="/b/1nz/add/{{ pro_no }}" method="post" novalidate>
                {% csrf_token %}
                {% for item in form %}
                <div class="layui-form-item">
                    <label class="layui-form-label">{{ item.label }}</label>
                    <div class="layui-input-block">
                        {{item}}
                        <span style="color: red;">{{ item.errors.0 }}</span>
                    </div>
                    
                </div>
                
                {% endfor %}
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>
            </form>


        </div>

        <script src="{% static 'plugins/layui/layui.js' %} "></script>
        <script>
            var laydate = layui.laydate; //日期
                lay("input[id$='date']").each(function(){
                    laydate.render({
                    elem: this,
                })
            });
            var $ = layui.$;
            var pro_no = $("#projection_add").attr('class');
            $("select").find("option[value="+pro_no+"]").attr("selected",true); 
            
    </script>
    </body>
</html>